@import 'variable';

:global {
  #brandedPickerCard {

  }
  .brandedHeading {
    text-align: right;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    img {
      display: inline-block;
    }
  }
  #luxuryPickerCard {

  }
  .sk-double-bounce {
    background: $lighter_grey_color;
  }
  .sk-double-bounce1, .sk-double-bounce2 {
    background-color: $brand_color !important;
  }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-chevron-left:before {
    content: "\e900";
  }
  .icon-chevron-right:before {
    content: "\e901";
  }
  .icon-chevron-thin-left:before {
    content: "\e902";
  }
  .icon-chevron-thin-right:before {
    content: "\e903";
  }
  .slick-slider {
    width: 100%;
    .picker-next,
    .picker-prev {
      font-size: 21px;
      top: initial;
      position: absolute;
      cursor: pointer;
      bottom: -30px;
      top: inherit;
    }
  }
  .picker-next:before,
  .picker-prev:before {
    color: $font_color !important;
  }
  .picker-next {
    right: 0px;
  }
  .picker-prev {
    left: 0px;
  }
}