@import 'variable';

@font-face {
  font-family: 'ChronicleDisplay';
  src: url('../fonts/ChronicleDisplay-Bold.eot');
  src: url('../fonts/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ChronicleDisplay-Bold.woff') format('woff'),
  url('../fonts/ChronicleDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg?#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pickerContainer {
  border-top: 4px solid $dark_grey_color;
  background: $lighter_grey_color;
  padding: $margin-smaller $margin-medium $margin-large $margin-medium;
  max-width: 400px;
  display: block;
  margin: 0 auto $margin auto;
  .pickerCard {

  }
  h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    float: none;
    line-height: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 23px;
  }
  .details {
    padding: $margin-small !important;
    background: $white;
    position: relative;
    border-bottom: 2px solid $light_grey_color;
  }
  .information {
    font-family: 'ChronicleDisplay', georgia, serif;
    overflow: auto;
    border-bottom: 1px solid $light_grey_color;
  }
  .price {
    font-size: $font-size-prize;
    margin-bottom: $margin-smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
  }
  address {
    font-size: $font-size;
    margin: 0 0 $margin-small 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'adelle-sans', helvetica, arial, sans-serif;
    font-style: normal;
    color: $font-color;
    font-weight: 300;
  }
  .features {
    padding-left: 0;
    list-style: none;
    margin: $margin-small 0;
    li {
      display: inline-block;
      font-family: 'adelle-sans', helvetica, arial, sans-serif;
      color: $font_color;
      font-weight: 300;
      font-size: $font-size;
      text-transform: capitalize;
      .border {
        color: #E8E8E8 !important;
        margin: 0 3px 0 0;
      }
    }
  }
  .imageWrapper {
    max-height: 240px;
  }
  .footer {
    clear: both;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .agentLogo {
      display: block;
      margin-top: $margin-smaller;
      display: block;
      margin-right: $margin-small;
      background: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        text-decoration: none;
        font-size: $font-size;
        font-family: 'adelle-sans', helvetica, arial, sans-serif;
        font-style: normal;
        color: $dark_grey_color;
        font-weight: 300;
        cursor: pointer;
      }
      img {
        display: table;
        max-height: 25px;
        width: auto;
      }
    }
    .detailsBtn {
      margin-top: $margin-smaller;
      display: block;
      text-align: right;
      max-width: 160px;
      .btn {
        font-family: 'adelle-sans', helvetica, arial, sans-serif;
        background: $brand_color;
        font-size: $font-size;
        color: $white;
        padding: 0 5px;
        line-height: 25px;
        height: 25px;
        display: block;
        text-decoration: none;
        max-width: 160px;
        text-align: center;
        &:hover {
          background: #b5a9ff;
        }
      }
    }
    & > span {
      flex: 1;
    }
  }
  .showLarge {
    display: inline-block;
  }
  .showSmall {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .showLarge {
    display: none;
  }
  .showSmall {
    display: inline-block;
  }
  .footer .btn {
    padding: 4px 12px 4px 12px;
  }
}
