$brand_color: #8470FF;
$font_color: #303030;
$white: #fff;
$lighter_grey_color: #f8f8f8;
$light_grey_color: #E0E0E0;
$dark_grey_color: #777;
$margin-smaller: 4px;
$margin-small: 10px;
$margin-medium: 15px;
$margin: 20px;
$margin-large: 40px;
$font-size: 15px;
$font-size-prize: 18px;